@font-face {
    font-family: tomatogrotesk;
    src: url("Tomato_Grotesk/TomatoGrotesk-Medium.otf");
}

@font-face {
    font-family: tomatogrotesklight;
    src: url("Tomato_Grotesk/TomatoGrotesk-Light.otf");
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'tomatogrotesk', sans-serif;
    margin: 0;
    padding: 0;
    background: #121212; 
    color: #f3f3f3; /* White text color */
    line-height: 1.6;
}

header {
    padding: 20px 0;
    background: #121212;
}

#branding h1, header h1 {
    margin:0;
    color: #f3f3f3;
    font-size: 24px;
    text-transform: uppercase;
}
.hamburger-menu {
    display: none;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-around;
    height: 25px; /* Adjust the height as needed */
    width: 35px; /* Adjust the width as needed */
}

.bar {
    height: 3px;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

nav {
    float: right;
    font-size: 16px;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden; 
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav ul li a {
    color: #f3f3f3;
    text-decoration: none;
    text-transform: uppercase;
}

nav ul li a:hover,
nav ul li a.active,
nav ul li a:focus {
    color: #00FF00; 
    transition: color 0.3 ease, text-decoration 0.3s ease;
}
.contact-a {
    color: #f3f3f3; 
    transition: color 0.3s ease; 
    
}

.contact-a:hover,
.contact-a:focus { 
    color: #00FF00; 
    text-decoration: underline; 
    outline: none; 
}
@media (max-width: 768px) {
    
    .hamburger-menu {
        display: flex;
       
    }

   
    nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
        padding-left: 0; 
        text-align: left; 
    }

    nav ul.active {
        display: flex;
    }

    
    nav ul li {
        padding: 10px 0; 
        display: block; 
    }

    nav {
        float: none;
        text-align: left; 
    }

   
    nav ul li a {
        padding-left: 20px; 
        padding-right: 20px;
    }
}

.container {
    max-width: 1170px;
    margin: auto;
    overflow: auto;
    padding: 0 20px;
}

.container::after, 
nav::after {
    content: "";
    display: table;
    clear: both;
}
/* Home Section */
#home .full-page-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh; 
    color: #fff;
    background-color: #121212; 
    padding: 4vw; 
}

#home h1 {
    font-size: 4.5vw;
    margin-bottom: 1rem;
    text-align: center;
}

#home .intro-text {
    font-size: 1.6rem;
    max-width: 60vw;
    margin: 0 auto; 
    text-align: center;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    #home h1 {
        font-size: 6vw; 
    }

    #home .intro-text {
        font-size: 2vw;
    }

    
    #home .full-page-container {
        padding: 5vw;
    }
}

@media (max-width: 480px) {
    
    #home h1 {
        font-size: 8vw;
    }

    #home .intro-text {
        font-size: 3.5vw;
    }
}

/* CAse Studies */
.case-study-link {
    text-decoration: none; /* Removes underline from links */
    color: inherit; /* Ensures the text color is inherited from the parent */
    display: block; /* Makes the link block-level for full container coverage */
}

.case-study-link:hover,
.case-study-link:focus {
    color: #00FF00; 
    background-color: rgba(0, 0, 0, 0.1); 
    outline: none; 
}
.section-container {
    max-width: 70%;
    margin: auto;
    padding: 0 20px; 
    /* border: 1px solid white; */
}
.case-study-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 3vw; 
    /* align-items: left; */
    justify-items: left;
    margin-top: 2rem;
}
.case-study-grid p {
    font-size: 1rem; 
    line-height: 1.6;
    margin-bottom: 1rem; /* Responsive space after the paragraph */
}

.section-title {
    color: #f3f3f3;
    font-size: 2.4rem;
    text-transform: uppercase;
    margin-bottom: 20px; 
    /* text-align: left;  */
    padding: 10px 0; 
}

#experience, #case-studies {
    background-color: #121212;
    color: #f3f3f3;
    text-align: left;
}

 

#case-studies .case-study {
    margin-bottom: 20px; 
}

#case-studies .case-study img {
    width: 100%;
    height: auto;
    margin-bottom: 5px;
}

#case-studies h3 {
    margin-bottom: 5px;
}

.case-study-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px; 
    margin: 0;
    /* border: 1px solid white; */
}


@media (max-width: 768px) {
    .section-container {
        padding: 5vh 5vw;
    }

    .section-title {
        margin-bottom: 1.5rem;
        font-size: 1.75rem; 
    }

    .case-study-grid {
        grid-template-columns: 1fr; 
        gap: 2vw;
    }

    .case-study-grid p {
        font-size: 1em; 
    }
}

@media (max-width: 480px) {
    .section-title {
        font-size: 1.5rem;
    }
    
  
}


/* Responsive case studies */
@media only screen and (max-width: 600px) {
    .case-study-grid {
        grid-template-columns: 1fr; 
    }
}

@media only screen and (max-width: 400px) {
    .section-container {
        padding: 0 10px; 
    }
}

/* Experience Section */
.section-title {
    color: #f3f3f3; 
    font-size: 2.4em; 
    text-transform: uppercase; 
}

#experience {
    background-color: #121212; 
    color: #f3f3f3;
    padding: 50px 20px;
    text-align: left;
}

.experience-container {
    max-width: 70%;
    margin: auto;
    /* border: 1px solid white; */
}

.experience-entry {
    border-bottom: 1px solid #333; 
    padding: 20px 0;
}

.experience-number {
    font-size: 2em;
    font-weight: bold;
    margin-right: 20px;
    display: inline-block;
    width: 60px; 
}

.experience-name {
    font-size: 2em;
    vertical-align: top;
}

.experience-toggle {
    float: right;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.experience-detail {
    display: none; 
    padding-top: 20px; 
}

/* Style when detail is shown */
.experience-entry.expanded .experience-toggle {
    transform: rotate(180deg); /* Flip the arrow */
}

.experience-entry.expanded .experience-detail {
    display: block; /* Show content */
}

@media screen and (max-width: 768px) {
    .experience-number {
        display: block; 
        margin: 0 0 10px 0;
    }

    .experience-name {
        display: block;
        font-size: 1.5em; 
    }
}


footer {
    background-color: #121212;
    color: #f3f3f3;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}


/* Work Section */
.work-container {
    max-width: 1200px;
    margin: 0 auto; 
    color: #f3f3f3;
    background-color: #121212; 
    padding: 2rem; 
}

/* Header within Work Container */
.work-header {
    border-bottom: 1px solid #444; 
    padding-bottom: 2rem; 
}
/* Figma Embed */
.figma-embed-container {
    position: relative;
    width: 100%; 
    padding-top: 56.25%; 
    margin-bottom: 20px; 
}

.figma-embed-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%; 
    border: none; 
}
iframe{
    max-width: 100%;
    max-height:100vh;
}
.work-header h1 {
    font-size: 3rem; 
    margin-bottom: 1rem;
}

.work-description {
    font-size: 1.6rem; 
    color: #aaa; 
    margin-bottom: 2rem;
}

/* Meta Information */
.work-meta {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem; 
    margin-bottom: 2rem; 
    font-size: 1rem; 
}

.work-meta div {
    margin-bottom: 0.5rem; 
}

/* Main content area */
.work-main {
    display: grid;
    grid-template-columns: 1fr; 
    gap: 2rem; 
    padding: 2rem 0; 
}

.work-section {
    margin-bottom: 2rem; 
}

.work-section h2 {
    font-size: 2.4rem; 
    margin-bottom: 1rem; 
}

.work-section p {
    font-size: 1.6rem; 
    color: #ccc; 
}

/* Image placeholder styles */
.image-placeholder {
    background-color: #333;
    max-width: 100%; 
    height: auto; 
    margin-bottom: 2rem;
}
.image-placeholder img{
    width: 100%;
    height: auto;
}


/* Accordion */
.accordion-button {
    background-color: #121212; 
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    border-top: 1px solid #333; 
    border-bottom: 1px solid #333; 
    text-align: left;
    outline: none;
    font-size: 18px;
    position: relative; 
}


.accordion-button.active, .accordion-button:hover {
    background-color: #222;
}


.accordion-content {
    padding: 0 18px;
    background-color: #121212; 
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    color: white;
    border-bottom: 1px solid #333; 
}
.accordion-button::after {
    content: '\25BC'; 
    font-size: 13px;
    color: white;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    transition: transform 0.2s ease-out;
}

/* Rotate arrow icon when the accordion is active */
.accordion-button.active::after {
    transform: translateY(-50%) rotate(180deg); /* Rotate arrow for active state */
}


/* Footer styles */
footer {
    text-align: center;
    padding: 1rem 0;
    background-color: #121212; /* Dark background for the footer */
    color: #aaa; 
}

/* Responsive behavior */
@media (max-width: 768px) {
    .work-header h1 {
        font-size: 2.5rem; 
    }

    .work-description {
        font-size: 1.4rem; 
    }

    .work-meta {
        grid-template-columns: 1fr; 
    }

    .work-section h2 {
        font-size: 2rem;
    }

    .work-section p {
        font-size: 1.4rem; 
    }
}


/* Clearfix for floated elements */
.container::after,
nav::after {
    content: "";
    display: table;
    clear: both;
}


footer {
    background: #1E1E1E; 
    color: #fff; 
    padding: 40px 20px; 
    text-align: center; 
}

.footer-container {
    max-width: 1170px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-gap: 40px; 
    justify-content: center;
    align-items: start;
}

#contact-content, #weather-api {
    margin-bottom: 20px;
}

#contact-content h2, #weather-api p {
    text-align: left; 
}

#contact-link-grid {
    display: flex;
    flex-direction: column; 
    gap: 10px; 
}

.contact-links a {
    color: #fff;
    text-decoration: none;
    display: block; 
}

.weather-api-text {
    margin: 5px 0;
}

@media (max-width: 768px) {
    .footer-container {
        grid-template-columns: 1fr; 
    }

    #contact-content h2, #weather-api p {
        text-align: left; 
    }
}

/* Styles for the copyright text */
copyright-text {
    margin-top: 40px;
    font-size: 0.75em;
    grid-column: 1 / -1; 
    text-align: center;
}