@font-face {
    font-family: tomatogrotesk;
    src: url("Tomato_Grotesk/TomatoGrotesk-Medium.otf");
}

@font-face {
    font-family: tomatogrotesklight;
    src: url("Tomato_Grotesk/TomatoGrotesk-Light.otf");
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'tomatogrotesk', sans-serif;
    margin: 0;
    padding: 0;
    background: #121212; 
    color: #f3f3f3; /* White text color */
    line-height: 1.6;
}

header {
    padding: 20px 0;
    background: #121212;
}

#branding h1, header h1 {
    margin: 0;
    color: #f3f3f3;
    font-size: 24px;
    text-transform: uppercase;
}

nav {
    float: right;
    font-size: 16px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden; /* Clear floats */
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav ul li a {
    color: #f3f3f3;
    text-decoration: none;
    text-transform: uppercase;
}

nav ul li a:hover,
nav ul li a.active {
    color: #00FF00; /* Highlight color for hover and active states */
}

.container {
    max-width: 1170px;
    margin: auto;
    overflow: auto;
    padding: 0 20px;
}

.container::after, 
nav::after {
    content: "";
    display: table;
    clear: both;
}
/* Home Section */
.full-page-container {
    height: 100vh; /* 100% of the viewport height */
    width: 100vw; /* 100% of the viewport width */
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    text-align: center;
    color: white; 
    background-color: #121212; 
}

.content h1 {
    font-size: 4em; 
    margin: 0;
    padding: 0;
}

.intro-text {
    font-size: 1.5em; 
    max-width: 800px; 
    margin-top: 20px; 
}

/* CAse Studies */
.section-container {
    max-width: 70%;
    margin: auto;
    padding: 0 20px; 
    /* border: 1px solid white; */
}
.case-study-grid {
    width: calc(100%-40px);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px; 
    margin: 0;
    /* border: 1px solid white; */
}

.section-title {
    color: #f3f3f3;
    font-size: 2em;
    text-transform: uppercase;
    margin-bottom: 20px; 
    /* text-align: left;  */
    padding: 10px 0; 
}

#experience, #case-studies {
    background-color: #000;
    color: #f3f3f3;
    text-align: left;
}

 

#case-studies .case-study {
    margin-bottom: 20px; 
}

#case-studies .case-study img {
    width: 100%;
    height: auto;
    margin-bottom: 5px;
}

#case-studies h3 {
    margin-bottom: 5px;
}

.case-study-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px; 
    margin: 0;
    /* border: 1px solid white; */
}


/* Responsive case studies */
@media only screen and (max-width: 600px) {
    .case-study-grid {
        grid-template-columns: 1fr; 
    }
}

@media only screen and (max-width: 400px) {
    .section-container {
        padding: 0 10px; 
    }
}

/* Experience Section */
.section-title {
    color: #f3f3f3; 
    font-size: 2em; 
    text-transform: uppercase; 
}

#experience {
    background-color: #000; 
    color: #f3f3f3;
    padding: 50px 20px;
    text-align: left;
}

.experience-container {
    max-width: 70%;
    margin: auto;
    /* border: 1px solid white; */
}

.experience-entry {
    border-bottom: 1px solid #333; 
    padding: 20px 0;
}

.experience-number {
    font-size: 2em;
    font-weight: bold;
    margin-right: 20px;
    display: inline-block;
    width: 60px; 
}

.experience-name {
    font-size: 2em;
    vertical-align: top;
}

.experience-toggle {
    float: right;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.experience-detail {
    display: none; 
    padding-top: 20px; 
}

/* Style when detail is shown */
.experience-entry.expanded .experience-toggle {
    transform: rotate(180deg); /* Flip the arrow */
}

.experience-entry.expanded .experience-detail {
    display: block; /* Show content */
}

@media screen and (max-width: 768px) {
    .experience-number {
        display: block; /* Stack number on top of the name on smaller screens */
        margin: 0 0 10px 0;
    }

    .experience-name {
        display: block;
        font-size: 1.5em; /* Slightly smaller font on smaller screens */
    }
}


footer {
    background-color: #121212;
    color: #f3f3f3;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}


/* Work Section */
.work-container {
    max-width: 1200px;
    margin: 0 auto; /* Center the container */
    color: #f3f3f3;
    background-color: #121212; 
    padding: 2rem; /* Responsive padding */
}

/* Header within Work Container */
.work-header {
    border-bottom: 1px solid #444; /* Subtle border color */
    padding-bottom: 2rem; /* Responsive padding */
}

.work-header h1 {
    font-size: 3rem; /* Responsive font size */
    margin-bottom: 1rem;
}

.work-description {
    font-size: 1.6rem; /* Slightly larger than base font size for emphasis */
    color: #aaa; /* Light grey color for description */
    margin-bottom: 2rem;
}

/* Meta Information */
.work-meta {
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));  */
    grid-template-columns: 1fr 1fr;
    gap: 1rem; /* Grid gap for spacing */
    margin-bottom: 2rem; /* Bottom margin */
    font-size: 1rem; /* Slightly larger font size */
}

.work-meta div {
    margin-bottom: 0.5rem; /* Margin for meta items */
}

/* Main content area */
.work-main {
    display: grid;
    grid-template-columns: 1fr; /* Single column layout */
    gap: 2rem; /* Grid gap for spacing */
    padding: 2rem 0; /* Vertical padding */
}

.work-section {
    margin-bottom: 2rem; /* Spacing between sections */
}

.work-section h2 {
    font-size: 2.4rem; /* Large font size for headings */
    margin-bottom: 1rem; /* Spacing below headings */
}

.work-section p {
    font-size: 1.6rem; /* Paragraph font size */
    color: #ccc; /* Lighter color for paragraph text */
}

/* Image placeholder styles */
.image-placeholder {
    background-color: #333; /* Placeholder color */
    width: 100%; /* Full width */
    height: 30rem; 
    margin-bottom: 2rem; /* Spacing below the image placeholder */
}
/* Accordion */
/* Style the buttons that are used to open the accordion content */
.accordion-button {
    background-color: #121212; /* Set background color to black */
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    border-top: 1px solid #333; /* Top border line */
    border-bottom: 1px solid #333; /* Bottom border line */
    text-align: left;
    outline: none;
    font-size: 18px;
    position: relative; /* Needed for absolute positioning of the pseudo-element */
}


.accordion-button.active, .accordion-button:hover {
    background-color: #222;
}


.accordion-content {
    padding: 0 18px;
    background-color: #000; /* Set background color to black */
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    color: white;
    border-bottom: 1px solid #333; /* Bottom border line */
}
.accordion-button::after {
    content: '\25BC'; /* Default: Downward arrow */
    font-size: 13px;
    color: white;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    transition: transform 0.2s ease-out;
}

/* Rotate arrow icon when the accordion is active */
.accordion-button.active::after {
    transform: translateY(-50%) rotate(180deg); /* Rotate arrow for active state */
}


/* Footer styles */
footer {
    text-align: center;
    padding: 1rem 0;
    background-color: #222; /* Dark background for the footer */
    color: #aaa; /* Light grey color for the footer text */
}

/* Responsive behavior */
@media (max-width: 768px) {
    .work-header h1 {
        font-size: 2.5rem; 
    }

    .work-description {
        font-size: 1.4rem; 
    }

    .work-meta {
        grid-template-columns: 1fr; 
    }

    .work-section h2 {
        font-size: 2rem;
    }

    .work-section p {
        font-size: 1.4rem; 
    }
}


/* Clearfix for floated elements */
.container::after,
nav::after {
    content: "";
    display: table;
    clear: both;
}

/* Footer styles if needed */
footer {
    background-color: #333;
    color: #f3f3f3;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

#contact-content {
    display: flex;
    height: 100%;
}

#contact-content-container {
    display: flex;
    flex-direction: column;
    padding-left: 10%;
}

#contact-content > div {
    justify-content: center;
}

#footer-title {
    font-size: 2.5vw;
    margin: 0;
}

#contact-link-grid {
    display: grid;
    height: 20%;
    padding-top: 5%;
    height: fit-content;
    grid-template-areas: 
    'linkedin email'
    'medium github';
}

.contact-links {
    margin-right: 2%;
    margin-bottom: 5%;
}

#linkedin-link {
    grid-area: linkedin;
}

#email-link {
    grid-area: email;
}

#medium-link {
    grid-area: medium;
}

#github-link {
    grid-area: github;
}

.contact-a {
    font-size: 1.5vw;
    text-decoration: none;
    color: #C6C6C6;
}

.contact-a:hover {
    color: white;
}

#weather-api {
    display: flex;
    flex-direction: column;
    text-align: right;
    flex-grow: 1;
    padding-right: 10%;

}

.weather-api-text {
    margin: 0;
    font-size: 1.2vw;
    margin-bottom: 0.5vh;
}

#weather-api-city {
    font-size: 2vw;
}